<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <!-- <link rel="stylesheet" href="{% static 'about.css' %}" /> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
</head>
<br><br><br><br>
<body>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="./assets/6.png" alt="" />
      </div>
      <div class="company-info">
        <span>ABOUT <span class="our">OUR STORE</span></span>
        <br>
        <p>
           We are provide a handcrafted products, Our collection celebrates the beauty of art, <br>from intricate hand-painted artworks
           to bespoke creations, our gallery is a haven for <br>those who seek the extraordinary. Embrace the artistry, celebrate 
           the craftmanship,<br>and find the perfect gift that resonates with heart and soul.
        </p>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <!-- service -------------------------------------------------------->
    
    <div class="container my-5">
        <section>
            <div class="text-center mb-5">
                <h2 class="s1 ">OUR <span style="color: #5fa8d3">SERVICES</span></h2>
            </div>
            <div class="row">
                <div class="col-md-4 my-2">
                    <div class="px-3 my-5">
                        <div>
                        <img class="icon" src="./assets/7.png" alt="">
                        </div>
                        <br>
                        <div class="px-3 text-center pb-3">
                            <h5 class="text-uppercase" style="font-weight: 600">Gift card</h5>
                        </div>
                    </div>
                </div>
              <div class="col-md-4 my-2">
                    <div class="px-3 my-5">
                        <div>
                            <img class="icon" src="./assets/8.png" alt="">
                        </div>
                        <br>
                        <div class="px-3 text-center pb-3">
                            <h5 class="text-uppercase" style="font-weight: 600">Complimentries</h5>
                        </div>
                    </div>
                </div>
              <div class="col-md-4 my-2">
                    <div class="px-3 my-5">
                        <div>
                            <img class="icon" src="./assets/9.png" alt="">
                        </div>
                        <br>
                        <div class="px-3 text-center pb-3">
                            <h5 class="text-uppercase" style="font-weight: 600">Best Quality</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
</body>  
  
